<section class="section-steps" id="three-steps">
  <div class="steps-container">
    <div class="steps-wrapper">
      <div class="steps-text">
        <h3 class="steps-title">3 Easy Steps for Buying Fresh Vegetables</h3>
        <ol class="steps-list">
          <li class="steps-list-item">
            Just choose the vegetable you want to order by clicking on the
            checkboxes next to it.
          </li>
          <li class="steps-list-item">
            Click on the basket and fill out the form.
          </li>
          <li class="steps-list-item">
            Sit back and relax! Your fresh vegetables basket will be delivered.
          </li>
        </ol>
      </div>
      <div class="steps-photo-list">
        <picture class="steps-picture">
          <source
            srcset="
              ./img/steps-girl-deckstop1x.png 1x,
              ./img/steps-girl-deckstop2x.png 2x
            "
            media="(min-width: 1280px)"/>
          <source
            srcset="
              ./img/steps-girl-tablet1x.png 1x,
              ./img/steps-girl-tablet2x.png 2x"
            media="(min-width: 768px)"/>
          <source
            srcset="
              ./img/steps-girl-mobile1x.png 1x,
              ./img/steps-girl-mobile2x.png 2x"
            media="(max-width: 767px)"
          />
          <img src="./img/steps-girl-tablet2x.png" alt="girls with cabbage" />
        </picture>
      </div>
    </div>
  </div>
</section>
