<header class="header">
  <div class="container">
    <nav class="header-nav">
      <ul class="nav-list list">
        <li class="nav-item">
          <a href="#three-steps" class="nav-link">How It Works</a>
        </li>
        <li class="nav-item">
          <a href="#vegetables" class="nav-link">Vegetables</a>
        </li>

        <li class="nav-item">
          <a href="#contact-me" class="nav-link">Contacts</a>
        </li>
      </ul>

      <a href="./index.html" class="logo link">
        <svg width="16" height="16" class="logo-icon">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        <span class="logo-text">VEGGIEBOOST </span>
      </a>
    </nav>
    <button type="button" data-modal-open class="tablet-cart-button">
      <svg width="20" height="20" class="cart-icon">
        <use href="./img/icons.svg#icon-shopping-cart"></use>
      </svg>
    </button>

    <button type="button" data-modal-open-1 class="cart-button">
      <svg width="24" height="24" class="cart-icon">
        <use href="./img/icons.svg#icon-shopping-cart"></use>
      </svg>
    </button>
    <button
      type="button"
      aria-expanded="false"
      class="mobile-menu-button"
      data-menu-button
    >
      <svg width="20" height="20" aria-label="mobile menu toggle">
        <use class="menu-open" href="./img/icons.svg#mobile-menu-open"></use>
        <use class="menu-close" href="./img/icons.svg#mobile-menu-close"></use>
      </svg>
    </button>
  </div>

  <!--* Mobile menu begins -->
  <div class="mobile-menu-container" data-menu>
    <ul class="mobile-nav-list list">
      <li class="mobile-nav-item">
        <a href="#three-steps" class="nav-link">How It Works</a>
      </li>
      <li class="mobile-nav-item">
        <a href="#vegetables" class="nav-link">Vegetables</a>
      </li>

      <li class="mobile-nav-item">
        <a href="#contact-me" class="nav-link">Contacts</a>
      </li>
    </ul>
    <button type="button" data-modal-open-2 class="menu-cart-button">
      <svg width="20" height="20" class="menu-cart-icon">
        <use href="./img/icons.svg#icon-shopping-cart"></use>
      </svg>
    </button>
  </div>
</header>
<!-- <script src="../js/mobile-menu.js"></script>
<script src="../js/modal.js"></script> -->
