<!-- hero -->
<section class="section">
  <div class="container-hero">
    <div class="section-plus">
      <div class="asiat">
        <ul class="asiat-list">
          <li class="asiat-item">
            <a class="asiat-gr" href="#"></a>
            <img
              src="./img/screenshot-1-transformed.png"
              alt="user"
              width="40"
              class="border-radius"
            />
          </li>
          <li class="asiat-item">
            <a class="asiat-gr" href="#"></a>
            <img
              src="./img/screenshot-2-transformed.png"
              alt="user"
              width="40"
              class="border-radius"
            />
          </li>
          <li class="asiat-item">
            <a class="asiat-gr" href="#"></a>
            <img
              src="./img/screenshot-3-transformed.png"
              alt="user"
              width="40"
              class="border-radius"
            />
          </li>
          <li class="reviews-item">
            <a href="#"></a>
            <div class="reviews">
              <p class="reviews-text">
                <span class="reviews-numbur">2k</span> reviews
              </p>
            </div>
          </li>
        </ul>
      </div>
      <h1 class="hero">
        organic <span class="span-hero">vegetables</span> to your diet today!
      </h1>
      <p class="item-p">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
      <button type="button" class="button-shop" data-modal-open-3>
        <span class="shop-span">shop now</span>
      </button>
    </div>
    <picture>
      <source
        media="(min-width:1280px )"
        srcset="./img/image-desct-1x.png 1x, ./img/image-desct-2x.png 2x"
      />
      <source
        media="(min-width:768px)"
        srcset="./img/image-tab-1x.png 1x, ./img/image-tab-2x.png 2x"
      />
      <source
        media="(min-width:375px )"
        srcset="./img/image-mob-2x.png 1x, ./img/image-mob-1x.png 2x"
      />
      <img class="img-girl" src="./img/image-mob-1x.png" alt="girl" />
    </picture>
    <ul class="list-btn">
      <li><button type="button" class="hero-btn">#organic</button></li>
      <li><button type="button" class="hero-btn">#products</button></li>
      <li><button type="button" class="hero-btn">#basket</button></li>
      <li><button type="button" class="hero-btn">#vegetables</button></li>
    </ul>
  </div>
</section>
