<section class="to-order">
  <div class="container">
    <div class="to-order-wrap">
      <h2 class="to-order-title">
        To oreder your vegetable basket, simply follow these easy steps
      </h2>
      <picture>
        <source
          srcset="
            ./img/vegetables-desk-1x.jpg 1x,
            ./img/vegetables-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/vegetables-tab-1x.jpg 1x,
            ./img/vegetables-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/vegetables-mob-1x.jpg 1x,
            ./img/vegetables-mob-2x.jpg 2x
          "
          media="(min-width: 375px)"
        />
        <img src="./img/vegetables-mob-1x.jpg" alt="vegetables" />
      </picture>
    </div>
    <ul class="to-order-list list">
      <li class="to-order-item">
        <p class="to-order-first-paragraph">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </li>
      <li class="to-order-item">
        <p class="to-order-second-paragraph">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </li>
    </ul>
  </div>
</section>
