<section class="container-vegetables" id="vegetables">
  <div class="organic-h-v">
    <h2 class="organic-h">ORGANIC VEGETABLES</h2>
    <p class="organic-p">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
  </div>

  <ul class="organic-vegetables list">
    <li class="organic-v position-price">
      <div class="cards-info">
        <p class="vegetables-name">Carrot</p>
        <p class="plant">Plant</p>
        <picture>
          <source
            srcset="./img/carrot-desc.png 1x, ./img/carrot-desc-x2.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/carrot-tab.png 1x, ./img/carrot-tab-x2.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/carrot-mob.png 1x, ./img/carrot-mob-x2.png 2x"
            media="(min-width: 375px)"
          />
          <img
            class="img-setings"
            src="./img/carrot-mob.png"
            alt="carrot"
            width="297"
            height="261"
          />
        </picture>
      </div>
      <div>
        <p class="price">100 UAH / kg</p>
      </div>
    </li>
    <li class="organic-v position-price">
      <div class="cards-info">
        <p class="vegetables-name">Brussel sprouts</p>
        <p class="plant">Plant</p>
        <picture>
          <source
            srcset="./img/brussel-desc.png 1x, ./img/brussel-desc-x2.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/brussel-tab.png 1x, ./img/brussel-tab-x2.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/brussel-mob.png 1x, ./img/brussel-mob-x2.png 2x"
            media="(min-width: 375px)"
          />
          <img
            class="img-setings"
            src="./img/brussel-mob.png"
            alt="brussel"
            width="297"
            height="261"
          />
        </picture>
      </div>
      <div>
        <p class="price">80 UAH / kg</p>
      </div>
    </li>
    <li class="organic-v position-price">
      <div class="cards-info">
        <p class="vegetables-name">Tomato</p>
        <p class="plant">Plant</p>
        <picture>
          <source
            srcset="./img/tomato-desc.png 1x, ./img/tomato-desc-x2.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/tomato-tab.png 1x, ./img/tomato-tab-x2.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/tomato-mob.png 1x, ./img/tomato-mob-x2.png 2x"
            media="(min-width: 375px)"
          />
          <img
            class="img-setings"
            src="./img/tomato-mob.png"
            alt="tomato"
            width="297"
            height="261"
          />
        </picture>
      </div>
      <div>
        <p class="price">40 UAH / kg</p>
      </div>
    </li>
    <li class="organic-v position-price">
      <div class="cards-info">
        <p class="vegetables-name">Eggplant</p>
        <p class="plant">Plant</p>
        <picture>
          <source
            srcset="./img/eggplant-desc.png 1x, ./img/eggplant-desc-x2.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/eggplant-tab.png 1x, ./img/eggplant-tab-x2.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/eggplant-mob.png 1x, ./img/eggplant-mob-x2.png 2x"
            media="(min-width: 375px)"
          />
          <img
            class="img-setings"
            src="./img/eggplant-mob.png"
            alt="eggplant"
            width="297"
            height="261"
          />
        </picture>
      </div>
      <div>
        <p class="price">60 UAH / kg</p>
      </div>
    </li>
    <li class="organic-v position-price">
      <div class="cards-info">
        <p class="vegetables-name">Sweet potatoes</p>
        <p class="plant">Plant</p>
        <picture>
          <source
            srcset="./img/potatoes-desc.png 1x, ./img/potatoes-desc-x2.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/potatoes-tab.png 1x, ./img/potatoes-tab-x2.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/potatoes-mob.png 1x, ./img/potatoes-mob-x2.png 2x"
            media="(min-width: 375px)"
          />
          <img
            class="img-setings"
            src="./img/potatoes-mob.png"
            alt="potatoes"
            width="297"
            height="261"
          />
        </picture>
      </div>
      <div>
        <p class="price">80 UAH / kg</p>
      </div>
    </li>
    <li class="organic-v position-price">
      <div class="cards-info">
        <p class="vegetables-name">Leek</p>
        <p class="plant">Plant</p>
        <picture>
          <source
            srcset="./img/leek-desc.png 1x, ./img/leek-desc-x2.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/leek-tab.png 1x, ./img/leek-tab-x2.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/leek-mob.png 1x, ./img/leek-mob-x2.png 2x"
            media="(min-width: 375px)"
          />
          <img
            class="img-setings"
            src="./img/leek-mob.png"
            alt="leek"
            width="297"
            height="261"
          />
        </picture>
      </div>
      <div>
        <p class="price">50 UAH / kg</p>
      </div>
    </li>
    <li class="organic-v position-price">
      <div class="cards-info">
        <p class="vegetables-name">Mushrooms</p>
        <p class="plant">Plant</p>
        <picture>
          <source
            srcset="./img/mushrooms-desc.png 1x, ./img/mushrooms-desc-x2.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/mushrooms-tab.png 1x, ./img/mushrooms-tab-x2.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/mushrooms-mob.png 1x, ./img/mushrooms-mob-x2.png 2x"
            media="(min-width: 375px)"
          />
          <img
            class="img-setings"
            src="./img/mushrooms-mob.png"
            alt="mushrooms"
            width="297"
            height="261"
          />
        </picture>
      </div>
      <div>
        <p class="price">40 UAH / kg</p>
      </div>
    </li>
    <li class="organic-v position-price">
      <div class="cards-info">
        <p class="vegetables-name">Corn</p>
        <p class="plant">Plant</p>
        <picture>
          <source
            srcset="./img/corn-desc.png 1x, ./img/corn-desc-x2.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/corn-tab.png 1x, ./img/corn-tab-x2.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/corn-mob.png 1x, ./img/corn-mob-x2.png 2x"
            media="(min-width: 375px)"
          />
          <img
            class="img-setings"
            src="./img/corn-mob.png"
            alt="corn"
            width="297"
            height="261"
          />
        </picture>
      </div>
      <div>
        <p class="price">60 UAH / kg</p>
      </div>
    </li>

    <li class="organic-v position-price">
      <div class="cards-info">
        <p class="vegetables-name">Radish</p>
        <p class="plant">Plant</p>
        <picture>
          <source
            srcset="./img/radish-desc.png 1x, ./img/radish-desc-x2.png 2x"
            media="(min-width: 1280px)"
          />
          <img
            class="img-setings"
            src="./img/radish-desc.png"
            alt="radish"
            width="297"
            height="261"
          />
        </picture>
      </div>
      <div>
        <p class="price">90 UAH / kg</p>
      </div>
    </li>
  </ul>
  <button class="btn-order" data-modal-open-4 type="button">
    <svg class="btn-order-icon" width="14" height="14">
      <use href="./img/icons.svg#icon-arrow"></use>
    </svg>
    <span class="btn-order-text">ORDER</span>
  </button>
</section>
