.header {
  position: relative;

  background-color: #fff;
  height: 50px;
  margin: auto;
}

.header .container {
  vertical-align: middle;

  display: flex;
  justify-content: space-between;
}

.logo-icon {
  fill: var(--header-background-color);
  margin-right: 8px;
}

.logo {
  display: flex;
  vertical-align: middle;
  align-items: center;
  margin-top: 1px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 0;
  color: var(--primary-text-color);
}

.logo-text {
  display: inline-block;
}

.mobile-menu-button {
  display: inline-flex;
  border: none;
  background-color: transparent;
  padding: 0;
}

.menu-open {
  fill: var(--header-background-color);
}

.menu-close {
  stroke: var(--header-background-color);
}

.mobile-menu-button .menu-close {
  display: none;
}

.mobile-menu-button.is-open .menu-close {
  display: block;
}

.mobile-menu-button.is-open .menu-open {
  display: none;
}

.mobile-menu-container {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  color: #fff;
  background: var(--header-background-color);
  padding-top: 124px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.56px;
  text-align: center;
  transform: translateX(100%);
  transition: transform var(--transition);
}

.mobile-nav-list {
  margin-bottom: 16px;
}

.mobile-nav-list li:not(:last-child) {
  margin-bottom: 16px;
}

.menu-cart-button {
  display: inline-flex;
  border: none;
  background-color: transparent;
  padding: 0;
}

.menu-cart-icon {
  fill: transparent;
  stroke: #fff;
}

@media screen and (max-width: 767px) {
  .mobile-menu-container.is-open {
    display: block;
    transform: translateX(0);
  }

  .header {
    min-width: 320px;
    max-width: 375px;
  }

  .header .container {
    min-width: 320px;
    max-width: 375px;
    padding: 16px 20px;
  }
}

.nav-list {
  display: none;
}

.cart-button {
  display: none;
}

.tablet-cart-button {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
  }

  .header .container {
    max-width: 768px;
    padding: 15px 32px;
  }

  .header-nav {
    display: inline-flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    gap: 14px;
    color: var(--primary-text-color);
  }

  .logo {
    margin-left: 86px;
  }

  .cart-button {
    display: block;
  }

  .mobile-menu-button {
    display: none;
  }

  .tablet-cart-button {
    display: inline-flex;
    border: none;
    background-color: transparent;
    padding: 0;
  }

  .cart-icon {
    fill: transparent;
    stroke: var(--primary-text-color);
  }

  .cart-button {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    width: 1280px;
  }

  .header .container {
    max-width: 1280px;
    padding: 15px 32px;
  }

  .nav-list {
    gap: 20px;
  }

  .logo {
    margin-left: 308px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.56px;
  }

  .cart-button {
    display: inline-flex;
    border: none;
    background-color: transparent;
    padding: 0;
  }

  .tablet-cart-button {
    display: none;
  }
}
