:root {
     --header-background-color: #A1C487;
     --footer-background-color: #EAF7E5;
     --primary-text-color: #141414;
     --background-item: #EAF7E5;
     --background-item-in-modal: #FAF3E7;
     --btn-hover-background-color: #A1C487;
     --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     --icon-color: #fff;
     --btn-order-color: #FC8A11;
}