/* h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
} */

.container-vegetables {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
}

.cards-info {
  padding: 20px;
}

.organic-v > .img-setings {
  padding: 0px;
}

.img-setings {
  object-fit: contain;
  display: block;
}

.organic-h {
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.96px;
  margin-bottom: 14px;
}

.organic-h-v {
  text-align: center;
  margin-bottom: 40px;
}

.oprganic-vegetables:last-child {
  display: none;
}

.organic-vegetables {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.organic-v {
  /* max-width: 335px; */

  min-height: 443px;
  border-radius: 20px;
  background-color: var(--background-item);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 0.5);
}

.organic-v:hover,
.organic-v:focus {
  box-shadow: 0px 0px 10px 0px rgba(20, 20, 20, 0.5);
}

.organic-vegetables .organic-v:last-child {
  display: none;
}

.vegetables-name {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.96px;
  margin-bottom: 8px;
}

.plant {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.position-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  padding: 20px 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.btn-order {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
  padding-top: 15px;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-order-color);
  border: 0;
  transition: background-color var(--transition);
}

.btn-order:hover {
  background-color: var(--btn-hover-background-color);
}

.btn-order-icon {
  fill: var(--icon-color);
}

.btn-order-content {
  display: flex;
}

.btn-order-text {
  color: var(--icon-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  transform: rotate(-14deg);
  transform-origin: left top;
  padding-left: 4px;
}

/* @media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
} */

/* @media screen and (min-width: 1280px) {
  .container {
    max-width: 1158px;
  }
} */

@media screen and (max-width: 767px) {
  .organic-v {
    max-width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .container-vegetables {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 100px;
  }

  .img-setings {
    margin: 0 auto;
  }

  .organic-vegetables {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
  }

  .organic-h {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1.12px;
  }

  .organic-p {
    max-width: 562px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.72px;
    margin: 0 auto;
  }

  .organic-v {
    /* max-width: 342px; */
    flex-basis: calc((100% - 24px) / 2);
    min-height: 465px;
  }
}

@media screen and (min-width: 1280px) {
  .container-vegetables {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 124px;
  }

  .organic-vegetables {
    gap: 24px;
  }

  .organic-vegetables .organic-v:last-child {
    display: flex;
  }

  .organic-h {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.6px;
  }

  .organic-v {
    /* max-width: 389px; */
    flex-basis: calc((100% - 48px) / 3);
    padding: 64px 24px 24px;
  }
}
